$color-primary: #009ebb;
$color-primary-dark: #1c7fac;
$color-primary-light: #00bcb6;
$color-primary-green-1: #46d6a0;
$color-primary-green-2: #a1eb84;

$color-primary-yellow-light: #f9f871;
$color-primary-yellow-dark: #733700;
$color-primary-yellow: #ea9a28;

$color-secondary: #a65d9f;
$color-secondary-light: #8969af;
$color-secondary-dark: #bb5388;

$color-setting: #fb1f79;

$color-tertiary: #41c08b;
$color-tertiary-light: #7ef9c1;
$color-tertiary-dark: #008a59;

$color-grey: rgb(22, 25, 42);
$color-grey-dark-2: #1e1e28;
$color-grey-dark-1: #c3c3c3;
$color-grey-dark: #384955;
$color-grey-light: #e7e9e9;

$color-white: #fff;
$color-black: #000;

$border-radius-normal: 0.5rem;

$bp-largest: 121.85em; //1950px
$bp-larger: 75em; // 1200px
$bp-large: 62.5em; // 1000px
$bp-medium: 56.25em; // 900px
$bp-small: 37.68em; // 603px
$bp-smaller: 34.37em; // 550px
$bp-smallest: 28.12em; // 450px
