.social__box--facebook.animate__animated.animate__fadeInLeftBig {
  --animate-duration: 1.4s;
}

.social__box--twitter.animate__animated.animate__fadeInLeftBig {
  --animate-duration: 1.5s;
}
.social__box--linkedin.animate__animated.animate__fadeInLeftBig {
  --animate-duration: 1.6s;
}
.social__box--github.animate__animated.animate__fadeInLeftBig {
  --animate-duration: 1.7s;
}
.social__box--whatsapp.animate__animated.animate__fadeInLeftBig {
  --animate-duration: 1.8s;
}
.social__box--gmail.animate__animated.animate__fadeInLeftBig {
  --animate-duration: 1.9s;
}
