/*********************** HUMBERGURE MENU HOLDER **************************/
.menu-holder {
  position: fixed;
  top: 3.3rem;
  right: 3.3rem;
  width: 5.7rem;
  height: 5.7rem;
  background-color: $color-primary;
  border-radius: 50%;
  z-index: 90;
}

/*********************** HUMBERGURE MENU BUTTON HOLDER **************************/
.btn-nav {
  position: fixed;
  top: 3rem;
  right: 3rem;
  width: 6rem;
  height: 6rem;
  background-color: $color-primary;
  outline: none;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0.5rem 1rem 3rem rgba($color: #000, $alpha: 0.9);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  /*********************** HUMBERGURE MENU LINE 0,1,2 **************************/
  &__line-0,
  &__line-1,
  &__line-2 {
    display: inline-block;
    width: 2.8rem;
    height: 3px;
    background-color: white;
    transition: all 0.15s;
  }

  /*********************** HUMBERGURE MENU LINE 0 **************************/
  &__line-0 {
    transform: translateY(-0.6rem);
  }

  /*********************** HUMBERGURE MENU LINE 1 **************************/
  &__line-1 {
    transform: translateY(0);
  }

  /*********************** HUMBERGURE MENU LINE 2 **************************/
  &__line-2 {
    transform: translateY(0.6rem);
  }

  &:hover {
    .btn-nav__line-0 {
      transform: translateY(-0.4rem);
    }

    .btn-nav__line-1 {
      transform: translateY(0.2rem);
    }

    .btn-nav__line-2 {
      transform: translateY(0.8rem);
    }
  }
}

/*********************** OPEN MENU CLASS WILL BE ADDED BY JAVASCRIPT **************************/
.open-menu {
  .btn-nav__line-0 {
    animation: hamburger-open-line-0 1.2s ease-in forwards;
  }

  .btn-nav__line-1 {
    animation: hamburger-open-line-1 1.2s ease-in forwards;
  }

  .btn-nav__line-2 {
    animation: hamburger-open-line-2 0.55s ease-in forwards;
  }
}

/*********************** CLOSE MENU CLASS WILL BE ADDED BY JAVASCRIPT **************************/
.close-menu {
  padding-bottom: 0.3rem;
  .btn-nav__line-0 {
    animation: hamburger-close-line-0 1.2s ease forwards;
  }

  .btn-nav__line-1 {
    animation: hamburger-close-line-1 1.2s ease forwards;
  }

  .btn-nav__line-2 {
    animation: hamburger-close-line-2 0.55s ease forwards;
  }
}

/*********************** NAVIGATION MENU **************************/
.navigation {
  /*********************** NAVIGATION CONTAINER **************************/
  &__background {
    background-color: $color-primary;
    position: fixed;
    top: 0;
    right: 0;
    // width: 55rem;
    // height: 55rem;
    border-bottom-left-radius: 55rem;
    z-index: 70;
    display: inline-block;
    width: 0;
    height: 0;
    transition: width 1s, height 1s, visibility 2s ease-in;
  }

  /*********************** NAVIGATION **************************/
  &__nav {
    margin-left: 7vw;
    margin-bottom: 5vh;
    position: absolute;
    bottom: 22%;
    right: 18%;
    display: flex;
    flex-direction: column;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: transform 1s, opacity 2s;
    transform: translate(50rem, -50rem);
  }

  /*********************** PORTFOLIO LOGO **************************/
  &__logo {
    display: inline-block;
    position: relative;
    width: 8rem;
    height: 8rem;
    margin-bottom: 1rem;

    &-img {
      display: inline-block;
      width: 100%;
      height: 100%;
    }
  }

  /*********************** NAVIGATION LIST **************************/
  &__list {
    width: 100%;
    list-style: none;
  }

  /*********************** NAVIGATION LIST ITEM **************************/
  &__item {
    text-align: center;
    overflow: hidden;
    width: 100%;
    background-color: #fff;
    box-shadow: 0.5rem 1rem 3rem rgba(#000, 0.3);
    transition: all 0.3s;

    &:not(:last-child) {
      margin-bottom: 0.3rem;
    }

    &:active {
      background-color: $color-primary;
      .navigation__link {
        color: $color-white;
      }
    }

    &:hover .navigation__link {
      animation-name: iconTopToBottom;
      animation-duration: 0.3s;
    }
  }

  /*********************** NAVIGATION LINKS **************************/
  &__link {
    display: inline-block;
    font-size: 2.2rem;
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
    color: $color-primary;
    padding: 0 0.5rem;
    overflow: hidden;
    vertical-align: middle;
  }
}

/***************** NAVIGATION MENU TOGGLE OPEN CLASS WILL BE ADDED BY JAVASCRIPT *****************/
.menuToggleOpen {
  animation-name: menuOpenAction;
  animation-duration: 1s;
  animation-fill-mode: forwards;

  .navigation__nav {
    transform: translate(0, 0);
    visibility: visible;
    opacity: 1;
  }
}

/****************** NAVIGATION MENU TOGGLE CLOSE CLASS WILL BE ADDED BY JAVASCRIPT *******************/
.menuToggleClose {
  animation-name: menuCloseAction;
  animation-duration: 0.7s;
  animation-fill-mode: forwards;
}
